@import url("purecss/build/pure.css");
@import url("katex/dist/katex.css");
@import url("../public/libs/highlight/vs2015.css");

.pure-g [class *= "pure-u"] {
    font-size: 18px;
    font-family: "lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}

h1,h2,h3,h4 {
    font-weight: inherit;
    text-decoration: underline wavy silver;
}

a {
    text-decoration: none;
}

h3 a {
    font-size: 0.8em;
    color: darkgoldenrod;
    text-decoration: underline wavy transparent;
}

h3 a:hover{
    color: darkorange;
}
